@font-face {
  font-family: "iconfont"; /* Project id 3877120 */
  src: url('iconfont.woff2?t=1676295846444') format('woff2'),
       url('iconfont.woff?t=1676295846444') format('woff'),
       url('iconfont.ttf?t=1676295846444') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuce:before {
    font-size: 150px;
    color: #1296db;
  content: "\e62d";
}

.icon-biji:before {
    margin-left: 5px;
    margin-right: 10px;
  content: "\e696";
}

.icon-shouye:before {
    font-size: 150px;
    color: #1296db;
  content: "\e602";
}

